// -------------------------------------#Abstract
@import './Abstracts/variables';
@import './Abstracts/mixin';
// -------------------------------------#Base
@import './Base/typography';
@import './Base/base';

// -------------------------------------#Component
@import './Components/navigation';
@import './Components/top';
@import './Components/perfection';
@import './Components/details';
@import './Components/hwreach';
@import './Components/footer';
@import './Components/menu';

.contact{
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    .heading{
        @include heading-with-bg;
        top: 10rem;
    }
    &__form{
        
        width: 130rem;
        position: absolute;
        top: 34rem;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 4rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        text-transform: uppercase;
        &--item{
            width: auto;
            border: 0;
            position: relative;
            height: 7rem;
            background: transparent;
            box-sizing: border-box;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.4rem;
            border: 1px solid #c3c3c3;

            label{
                border: none;
                position: absolute;
                color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            input, textarea{
                box-sizing: border-box;
                border: none;
                width: 100%;
                height: 100%;
                padding: 2rem;
                background: transparent;
                &:focus~label,
                &:valid~label
                {
                    color: red;
                    transform: translateY(-50rem);
                }
            }
            &:nth-child(6), &:nth-child(8){
                grid-column: 1 / 4;
            }
            &:nth-child(7), &:nth-child(9){
                grid-column: 4 / 6;
            }
            &:nth-child(10){
                grid-column: 1 / 6;
                height: 24rem;
            }
            &:nth-child(11){
                grid-column: 1 / 6;
                button{
                    width: 100%;
                    height: 100%;
                    text-transform: uppercase;
                    border: 0;
                    background-color: #151B28;
                    color: #fff;
                    font-size: 2.4rem;
                }
            }
        }
    }
}

.message label{
    color: #c3c3c3;
}
.prepare{
    background-color: #000;
    width: 100%;
    label{
        color: $color-2;
    }
}